<!DOCTYPE html>
html(lang="en")
    head
        include partials/header 
    body.login
        .contenedor-formulario
            h1 Inicia Sesion en Uptask

                p.error.alerta.oculto#error-create

            form#formulario-iniciar-sesion.caja.caja-login(method="POST" action="/iniciar-sesion")
                .campo
                    label(for="email") E-mail:
                    input(type="email" id="email" name="email" placeholder="Ingresa tu email..." required)
                .campo
                    label(for="password") Password:
                    input(type="password" id="password" name="password" placeholder="Ingresa tu contrase単a..." required) 
                .campo.enviar
                    input.boton(type="submit" value="Iniciar Sesion")
                .campo.acciones
                    a(href="/crear-cuenta") 多Aun no tienes una Cuenta? Crea Una Aqui
                    a(href="/reestablecer") 多Olvidaste tu contrase単a? Haz click aqui
