<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
    body
        h2 Restablecer Password 
        p has solicitado reestablecer tu password, has click en el siguiente enlace para restablecerlo, este enlace es temporal asique apresurate...
        a(href=`${resetUrl}`) Ir a enlace 
        p Si no puedes acceder a este enlace, visita #{resetUrl}
        p si no solicitaste este correo solo ignoralo